<h3> Question 1 of Module 2 </h3>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\a0ayo\Documents\MINE\DATA ANALYSIS\FLEXISAF\Week 2&3\SampleSuperstore.csv")

In [3]:
# First few rows
data.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [5]:
data.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

<h3> Question 2 of Module 2 </h3>

<h5> Calculating Basic Statistics </h5>

<p>For Postal Code numerical feature </p>

In [21]:
print(data['Postal Code'].mean())
print(data['Postal Code'].median())
print(data['Postal Code'].mode())
print(data['Postal Code'].std())

55190.3794276566
56430.5
0    10035
Name: Postal Code, dtype: int64
32063.69335036448

<p> For Sales numerical feature </p>

In [15]:
print(data['Sales'].mean())
print(data['Sales'].median())
print(data['Sales'].mode())
print(data['Sales'].std())

229.85800083049833
54.489999999999995
0    12.96
Name: Sales, dtype: float64
623.2451005086807

<p> For Quantity numerical feature </p>

In [22]:
print(data['Quantity'].mean())
print(data['Quantity'].median())
print(data['Quantity'].mode())
print(data['Quantity'].std())

3.789573744246548
3.0
0    3
Name: Quantity, dtype: int64
2.2251096911414

<p> For Discount numerical feature </p>

In [23]:
print(data['Discount'].mean())
print(data['Discount'].median())
print(data['Discount'].mode())
print(data['Discount'].std())

0.15620272163297977
0.2
0    0.0
Name: Discount, dtype: float64
0.20645196782571615

<p> For Profit numerical feature </p>

In [24]:
print(data['Profit'].mean())
print(data['Profit'].median())
print(data['Profit'].mode())
print(data['Profit'].std())

28.65689630778467
8.6665
0    0.0
Name: Profit, dtype: float64
234.2601076909573

In [28]:
correlation_data = data.select_dtypes(include=['number']).corr()
print(correlation_data)

             Postal Code     Sales  Quantity  Discount    Profit
Postal Code     1.000000 -0.023854  0.012761  0.058443 -0.029961
Sales          -0.023854  1.000000  0.200795 -0.028190  0.479064
Quantity        0.012761  0.200795  1.000000  0.008623  0.066253
Discount        0.058443 -0.028190  0.008623  1.000000 -0.219487
Profit         -0.029961  0.479064  0.066253 -0.219487  1.000000